<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show</title>
</head>
<body>
	<p
		th:text="${'Name: ' + person.getName() + ', ' + person.getAge()} + ' years old.'">VALUE</p>
	<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
	<p th:text="${'Domiciled at: ' + person.getAddress()}">VALUE</p>
	<br>
	<p>Books:</p>
	<div th:each="book:${books}">
		<p
			th:text="${book.getTitle() +', ' +  book.getAuthor() + ', ' + book.getYear()}" />
	</div>
	<hr>
	<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

	<form th:method="DELETE"
		th:action="@{/people/{id}(id=${person.getId()})}">
		<input type="submit" value="Delete" />
	</form>
	<br>
	<p>
		<< <a href="/people"> Go back to people</a>
	</p>
</body>
</html>